# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# App data
app.db
*.db
*.sqlite
*.sqlite3
uploads/
outputs/
PrusaSlicer*/
CuraEngine*/
*.zip

# Logs
*.log

# Secrets / env
.env
*.env